---
import Card from "./Card.astro";

const { index, title, description, icon } = Astro.props;
---

<Card isUnderline={true}>
  <div
    class={`h-full w-full p-8 sm:p-12 rounded-[45px] ${index % 3 === 1 ? 'bg-gray text-black' : index % 3 === 2 ? 'bg-accent text-white' : 'bg-dark text-white'}`}
  >
    <div class="flex flex-col h-full justify-between gap-8">
      <div>
        <div class="flex items-center gap-4 mb-6">
          <span class="text-5xl">{icon}</span>
        </div>
        <h3 class="text-3xl font-medium mb-4">{title}</h3>
        <p class={`text-lg font-medium leading-relaxed ${index % 3 === 2 || index % 3 === 0 ? 'text-zinc-200' : 'text-zinc-600'}`}>
          {description}
        </p>
      </div>
    </div>
  </div>
</Card>
